[user]
	name = Ales Zoulek
	email = ales.zoulek@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	l = log
	lf = log --full-diff -p
	d = diff
	dc = diff --cached
	pull = pull --no-edit
	g = grep --break --heading --line-number

[grep]
	lineNumber = true
	extendRegexp = true

[merge]
;	tool = opendiff

; tohle neumim zapnout
;[diff]
;	external = diff

[core]
	excludesfile = /home/a/.gitignore

[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+289+125
	main-window-view = HistoryView
	history-view-vpane-position = 236
[push]
	default = tracking
