[user]
	name = Ales Zoulek
	email = ales.zoulek@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	st = status
	ci = commit
	co = checkout
	l = log
	lf = log --full-diff -p
	d = diff
	dc = diff --cached
	pull = pull --no-edit

[merge]
;	tool = opendiff

; tohle neumim zapnout
;[diff]
;	external = diff

[core]
	excludesfile = /home/al3x/.gitignore

[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+289+125
	main-window-view = HistoryView
	history-view-vpane-position = 236
[github]
	user = aleszoulek
	token = 62d08cecc6db9b9ce86eb38b68a10c05
[push]
	default = tracking
